= stylesheet_link_tag 'lounge', 'lounge/messages'
= render 'lounge/shared/messages'
= render 'lounge/messages/shared/buttons'
%h4.big-shadow= @box
= paginate @communications

= render 'lounge/messages/message_list'

= paginate @communications