= stylesheet_link_tag 'lounge', 'lounge/messages'
= render 'lounge/shared/messages'
.row
  .span12
    .buttons{style: 'margin-top: 30px'}
      = link_to 'Inbox', lounge_messages_path, class: 'btn btn-purple'
      = link_to 'Archives', archives_lounge_messages_path, class: 'btn btn-warning'
      = link_to 'Trash', trash_lounge_messages_path, class: 'btn btn-danger'
      = link_to 'Sent Messages', sent_lounge_messages_path, class: 'btn btn-success'
    %h4.big-shadow= @box
    %table.table.table-striped
      %tr
        %th
        %th From
        %th Subject
        %th Received
      - @communications.each do |comm|
        - if @box == 'Inbox'
          - if comm.latest_message.from_user != current_user
            = render partial: 'lounge/messages/communication', :locals => { :communication => comm}
        - elsif @box == 'Sent Messages'
          = render partial: 'lounge/messages/message', :locals => { :message => comm}
        - else
          = render partial: 'lounge/messages/communication', :locals => { :communication => comm}

      / .communication
      /   .subject-info
      /     .subject
      /       %span.bold= "Subject:"
      /       ="#{comm.latest_message.subject}"
      /     .from
      /       %span.bold= "From: "
      /       = "#{comm.latest_message.from_user.nickname}"
      /     .sent
      /       = "Received: "
      /       = "#{l(comm.latest_message.sent_at.in_time_zone(current_user.user_profile.timezone)) rescue l(comm.latest_message.sent_at) }"

      /   .message= h(comm.latest_message.body)
