- @orders.each do |order|
  %tr
    %td= order.id
    - if order.user.present?
      %td= link_to order.user.full_name, edit_admin_user_path(order.user)
    - else
      %td= 'N/A'
    %td= number_to_currency(order.initial_transaction.to_dollars) rescue ''
    %td= order.status
    %td= order.card_used
    %td= order.initial_transaction.message rescue ''
    %td= l(order.created_at)
    %td
      = link_to 'View', "##{order.id}-transactions", class: 'btn btn-primary view-transaction'
  %tr{id: "#{order.id}-transactions", style: 'display:none'}
    %td{colspan: 8}
      - order.transactions.each do |trans|
        .trans{style: "background-color: #{(trans.is_refunded ? '#FFF0F0' : 'white')}; margin-left: 5px"}
          = render partial: 'admin/orders/transaction', locals: {transaction: trans}
          - if order.transactions.count > 1
            %hr/
= paginate @orders, window: 2