.content12
  .row-fluid
    .span3.offset1
      %strong Transaction ID:
      = transaction.transaction_id
    .span3
      %strong Message:
      = transaction.message
  .row-fluid
    .span3.offset1  
      %strong Amount:
      = number_to_currency(transaction.to_dollars)
    .span3
      %strong Timestamp:
      = l(DateTime.parse(transaction.paypal_timestamp)) unless transaction.paypal_timestamp.blank?
    .span3
      %strong Type:
      = transaction.action.capitalize
  .row-fluid
    .span3.offset1 
      %strong AVS Code:
      = transaction.cvv2_code unless transaction.cvv2_code.blank?
    .span3
      %strong CVV2 Code:
      = transaction.avs_code unless transaction.avs_code.blank?
  .row-fluid
    - if transaction.action == 'purchase' && transaction.success && !transaction.is_refunded
      .span3.offset1
        = simple_form_for(transaction, url: refund_admin_user_order_path(transaction.order.user.id, transaction.order.id)) do |f|
          = f.input :transaction_id, as: :hidden, input_html: {value: transaction.id}
          = f.submit :value => 'Refund', class: 'btn btn-danger process'
          /= link_to 'Refund', refund_admin_user_order_path(transaction.order.user.id, transaction.order.id), class: 'btn btn-danger refund'
