= render 'admin/orders/shared/masthead'
%table.table.table-bordered.table-striped.table-highlight
  %thead
    %tr
      %th User
      %th Amount
      %th Status
      %th Message
      %th Created
      %th Functions
  %tbody
    - @orders.each do |order|
      %tr
        %td= link_to order.user.full_name, edit_admin_user_path(order.user)
        %td= number_to_currency(order.initial_transaction.to_dollars) rescue ''
        %td= order.initial_transaction.success ? 'Success' : 'Failed' rescue ''
        %td= order.initial_transaction.message rescue ''
        %td= l(order.created_at)
        %td
          = link_to 'View', '#', class: 'btn btn-primary'
= paginate @orders, window: 2