!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title 2Date4Love - A different kind of intimacy.
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    = stylesheet_link_tag 'lounge', 'lounge/home'
    %link{href:'http://fonts.googleapis.com/css?family=Petit+Formal+Script', rel: 'stylesheet', type: 'text/css'}
    %link{href:'http://fonts.googleapis.com/css?family=Oxygen', rel: 'stylesheet', type: 'text/css'}


    /[if gte IE 9]
      :css
        .gradient {
          filter: none;
        }
    /[if lte IE 8]
      :css
        .background-blur {
          background: transparent;
          filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7FFFFFFF,endColorstr=#7FFFFFFF);
          zoom: 1
        }
    /[if lt IE 9]
      %script{src: '/assets/html5shiv.js'}
  %body{'cz-shortcut-listen' => true}
    #wrap
      = render 'lounge/shared/topnav'
      .sample-background
        .container
          .row
            = render 'lounge/shared/logo-text'
            - if flash[:alert].present?
              .alert.alert-warning
                = flash[:alert]
            .span5.background-blur.join-form
              .join-today Join Today
              %h5 Lifetime Membership only $12.95
              .span5
                - if @user.errors.any?
                  .alert.alert-error{style: 'width: 285px'}
                    = "Please correct the errors below."
                - if flash[:error].present?
                  .alert.alert-error{style: 'width: 285px'}
                    = flash[:error]
                - if flash[:info].present?
                  .alert.alert-info{style: 'width: 285px'}
                    = flash[:info]
                = simple_form_for @user, url: lounge_signup_path, wrapper: :small do |f|
                  = f.simple_fields_for :user_profile do |up|
                    .form-row
                      .form-field
                        = f.input :nickname, label: false, placeholder: 'Nickname', input_html: {class: 'input-medium'}
                    .form-row
                      .form-field
                        = up.input :first_name, placeholder: 'First Name', label: false, input_html: {class: 'input-medium'}
                      .form-field
                        = up.input :last_name, placeholder: 'Last Name', label: false, input_html: {class: 'input-medium'}
                    .form-row
                      .form-field
                        = f.input :email, placeholder: 'E-Mail', label: false, input_html: {class: 'input-xxlarge'}
                    .form-row
                      .form-field
                        = f.input :password, placeholder: 'Password', label: false, input_html: {class: 'input-medium'}
                      .form-field
                        = f.input :password_confirmation, placeholder: 'Confirmation Password', label: false, input_html: {class: 'input-medium'}
                    %h4 Billing Details
                    .form-row
                      .form-field
                        = up.input :address_street, placeholder: 'Street Address', label: false, input_html: {class: 'input-xxlarge'}
                    .form-row
                      .form-field
                        = up.input :address_city, placeholder: 'City', label: false, input_html: {class: 'input-medium'}
                      .form-field
                        = up.input :address_state, placeholder: 'State', label: false, input_html: {class: 'input-medium'}
                    .form-row
                      .form-field
                        = up.input :address_zip, placeholder: 'Zip Code', label: false, input_html: {class: 'input-medium'}
                      .form-field
                        /= up.input :address_country, placeholder: 'Country', label: false, priority: ['United States', 'Canada']
                        = up.country_select :address_country, {priority: %w(US CA)}, prompt: 'Select Country'
                    .form-row
                      = f.simple_fields_for [@user, @order] do |o|
                        .form-field
                          = o.input :card_number, placeholder: 'Credit Card Number', label: false, input_html: {class: 'input-medium'}
                        .form-field
                          = o.input :card_verification, placeholder: 'CVV2', label: false, input_html: {class: 'input-mini'}
                        .form-field
                          = o.input :card_expires_on, placeholder: 'Card Exp.', label: false, input_html: {class: 'input-mini'}
                  .form-row
                    = link_to '#', id: 'join-button', class: 'btn btn-large btn-custom2' do
                      %i{class: 'icon-heart'}
                      = 'JOIN TODAY'
      = render 'lounge/shared/promos'
      = render 'lounge/shared/footer'
      = javascript_include_tag 'main', 'lounge'