!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title 2Date4Love - A different kind of intimacy.
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    = stylesheet_link_tag 'lounge'
    %link{href:'http://fonts.googleapis.com/css?family=Petit+Formal+Script', rel: 'stylesheet', type: 'text/css'}
    %link{href:'http://fonts.googleapis.com/css?family=Oxygen', rel: 'stylesheet', type: 'text/css'}

    = javascript_include_tag 'main'
    /[if gte IE 9]
      :css
        .gradient {
          filter: none;
        }
  %body{'cz-shortcut-listen' => true}
    #wrap
      = render 'lounge/shared/topnav'

      .container
        .row
          = render 'lounge/shared/logo-text'

          //.alert.alert-error Sorry there was a problem processing your request.
          .span5.join-form
            .join-today Join Today
            .form-details
              .form.form-horizontal
                %h4 Join today for only $12.95 (one time)
                .form-row
                  .input-prepend
                    %span.add-on @
                    %input.span2{type: :text, placeholder: "Username"}
                  .username-message
                    .green ACCEPTED!
                .form-row
                  %input.input-medium{type: :text, placeholder: 'First Name'}
                  %input.input-medium{type: :text, placeholder: 'Last Name'}
                .form-row
                  %input.input-xxlarge{type: :text, placeholder: 'E-Mail'}
                .form-row
                  %input.input-medium{type: :password, placeholder: 'Password'}
                  %input.input-medium{type: :password, placeholder: 'Confirm Password'}
                %h4 Billing Details
                .form-row.line
                  %input.input-xxlarge{type: :text, placeholder: 'Street Address'}
                .form-row
                  %input.input-medium{type: :password, placeholder: 'City'}
                  %select
                    %option{value: ''} Select State
                    %option{value: ''} Michigan
                    %option{value: ''} California
                .form-row
                  %input.input-medium{type: :password, placeholder: 'Zip Code'}
                  %select
                    %option{value: ''} Choose Subscription
                    %option{value: ''} $12.95 (One Time)
                .form-row
                  %input.input-medium{type: :text, placeholder: 'Credit Card Number'}
                  %input.input-small.cvv2{type: :text, placeholder: 'CCV2'}
                  %input.input-small{type: :text, placeholder: 'Card Exp.'}
                .form-row
                  %button.btn.yellow-btn{type: :submit} Join Now

      = render 'lounge/shared/promos'
      = render 'lounge/shared/footer'