.footer
  .container.bottom
    .row
      .span2
        %ul
          %li
            = link_to 'Contact Us'
          %li
            = link_to 'Facebook'
          %li
            = link_to 'Twitter'
      .span2
        %ul
          %li
            = link_to "FAQ's", faq_path
          %li
            = link_to "Terms of Service", terms_path
          %li
            = link_to "Our Privacy Policy", privacy_path
      .span3
        %ul
          %li
            =link_to 'Success Stories', success_path
          %li
            =link_to 'Relationship Articles', articles_path
          %li
            =link_to 'Dating Tips', tips_path
      .span4
        .overview
          2date4love℠ is a dating site that enables people who cannot engage in sexual intercourse to meet and experience love, companionship and intimacy.
      .span12
        %p.copyright © 2013 New Expectations Dating, Inc. All Rights Reserved. 2date4love is a service mark of New Expectations Dating, Inc.
