.footer
  .container.bottom
    .row
      .span2
        %ul
          %li
            = link_to 'Home', (user_signed_in? ? lounge_dashboard_index_path : root_path)
          %li
            = link_to 'Contact Us'
          %li
            = link_to 'Our Story', story_path
      .span2
        %ul
          %li
            = link_to "FAQ's", faq_path
          %li
            = link_to "Terms of Service", terms_path
          %li
            = link_to "Our Privacy Policy", privacy_path
      .span3
        %ul
          %li
            =link_to 'Success Stories', success_path
          %li
            =link_to 'Relationship Articles', articles_path
          %li
            =link_to 'Dating Tips', tips_path
      .span12
        %p.copyright © #{Date.today.year} 2date4love Inc. ® All Rights Reserved Registered Trademark
