.login-details.pull-right
  .welcome Welcome Back, <span class="name">Laura</span>
  = link_to 'Edit Profile', ''
  %span.divider= " | "
  = link_to 'Messages (5)'
  %span.divider= " | "
  = link_to 'Logout'
