.login-details.pull-right
  .welcome
    - if current_user.sign_in_count >= 2
      Welcome back,
    - else
      Welcome,
    %span.name= current_user.first_name
  = link_to 'Edit Profile', edit_lounge_profile_path(current_user)
  %span.divider= " | "
  = link_to 'Messages (5)'
  %span.divider= " | "
  = link_to 'Logout', destroy_user_session_path
