.span3
  %h5.big-shadow Quick Search
  .quick-search
    = render 'search'
.span8
  .row
    %h5.big-shadow Search Results
    %hr/
    .pagination.pagination-mini
      = paginate @users, window: 2
  .row
    %ul.thumbnails
      - if @users.count == 0
        .span7.red Unable to find compatible matches, try expanding your search criteria.
      - @users.each do |u|
        %li.span2
          = render 'profile_image', image: u.random_profile_image
          .profile-details
            .details-one= u.nickname
            .details-two= truncate(u.user_profile.biography, length: 50)
  .row
    .pagination.pagination-mini
      = paginate @users, window: 2