= stylesheet_link_tag 'lounge/results'
.span3
  %h5.big-shadow Quick Search
  .quick-search
    = render 'search'
.span8
  .row
    %h5.big-shadow Search Results
    %hr/
    .pagination.pagination-mini
      = paginate @users, window: 2
  .row
    %ul.thumbnails
      - if @users.count == 0
        .span7.red Unable to find compatible matches, try expanding your search criteria.
      - if current_user.user_profile.percent_complete < 59 || !current_user.user_profile.birthday.present?
        .span7
          %h5
            = link_to 'Do get the most out of 2date4love, click here to complete your profile!!', modify_lounge_profile_index_path
      - @users.each do |u|
        %li.span2
          = render 'profile_image', image: u.random_profile_image, user: u
          .profile-details
            .details-one= u.nickname
            .details-two= truncate(u.user_profile.biography, length: 50)
  .row
    .pagination.pagination-mini
      = paginate @users, window: 2