/= params.inspect
.span3
  %h5.big-shadow Quick Search
  .quick-search
    = form_tag search_lounge_dashboard_index_path, method: :post do |f|
      %label Looking For
      = select_tag 'looking_for', options_for_select(UserProfile::GENDERS), prompt: 'Choose Gender'
      %label Ages
      = text_field_tag :min_age, current_user.user_profile.min_age, class: 'input-mini'
      = " - "
      = text_field_tag :max_age, current_user.user_profile.max_age, :class => 'input-mini'
      %h5 Likes
      - UserProfile::LIKES.each do |l|
        %label.checkbox
          = check_box_tag 'likes[]', l
          = l
      %br/
      %select
        %option{value: ''} Sort Results
        %option{value: ''} Recently Joined
        %option{value: ''} Recently Updated
      = submit_tag 'Search', class: 'btn btn-purple'
      /= f.button :submit, value: 'Search', class: 'btn btn-purple'
.span8
  .row
    %h5.big-shadow Search Results
    %hr/
    .pagination.pagination-mini
      = paginate @users, window: 2
  .row
    %ul.thumbnails
      - @users.each do |u|
        %li.span2
          = render 'profile_image', image: u.random_profile_image
          .profile-details
            .details-one= u.nickname
            .details-two= truncate(u.user_profile.biography, length: 50)
  .row
    .pagination.pagination-mini
      = paginate @users, window: 2