= link_to 'Manage Profile', edit_profile_admin_user_path(@user), class: 'btn btn-primary'
%p
  %strong Approx
  = @user.user_profile.approximate_location
= simple_form_for [:admin,@user], html: {class: 'form-horizontal'} do |f|
  .row
    .span5
      = f.input :email, input_html: {class: 'input-xlarge'}
      = f.input :password
      = f.input :password_confirmation
      = f.input :is_admin, as: :boolean
      = f.input :sign_in_count, :disabled => true
      = f.input :last_sign_in_at, :disabled => true
    .span5
      = f.simple_fields_for :user_profile do |up|
        = up.input :first_name
        = up.input :last_name
        = up.input :selected_birthday, as: :datepicker, input_html: {value: l(@user.user_profile.birthday)} rescue 'N/A'
        = up.input :birthday, as: :hidden
        = up.input :address_zip
        = up.input :address_country, :priority => ['United States', 'Canada']
        = f.input :last_sign_in_ip, :disabled => true
    .span2
      - if params[:action] == 'edit'
        %h5= "Within #{@user.user_profile.search_radius} miles.."
        - User.near(@user.coordinates.reverse, @user.user_profile.search_radius.to_i).excludes(id: @user.id).limit(20).each do |match|
          = link_to match.email, edit_admin_user_path(match)
  .row
    .offset1
      = f.button :submit, class: 'btn btn-primary'
      - if params[:action] == 'edit'
        = link_to 'Create Order', new_admin_user_order_path(@user), class: 'btn btn-secondary'
      = link_to 'Cancel', admin_users_path, class: 'btn btn-tertiary'

