%h4
  = "Profile is #{@user.user_profile.percent_complete}% complete."
.progress.progress-striped.active
  .bar{style: "width: #{@user.user_profile.percent_complete}%"}
= simple_form_for [:admin, @user], url: update_profile_admin_user_path(@user), html: {class: 'form-horizontal'} do |f|
  .row
    .span6
      = f.simple_fields_for :user_profile do |up|
        = up.input :first_name
        = up.input :last_name
        = up.input :address_city
        = up.input :address_state
        = up.input :address_zip
        = up.input :address_country, :priority => ['United States', 'Canada']
        = up.input :selected_birthday, as: :datepicker, input_html: {value: l(@user.user_profile.birthday)}
        = up.input :birthday, as: :hidden
        = up.input :occupation
        = up.input :ethnicity, collection: UserProfile::ETHNICITY, prompt: 'Choose Ethnicity', include_blank: true
        = up.input :search_radius
        //.offset1
        //  = f.button :submit, class: 'btn btn-primary'
        //  = link_to 'Cancel', admin_users_path, class: 'btn btn-tertiary'
    .span6
      = f.simple_fields_for :user_profile do |up|
        = up.input :seeking, collection: UserProfile::GENDERS, prompt: 'Choose Gender'
        = up.input :gender, collection: UserProfile::GENDERS, prompt: 'Choose Gender'
        = up.input :min_age
        = up.input :max_age
        = up.input :likes, input_html: {class: 'chzn-select', multiple: true}, collection: UserProfile::LIKES
        = up.input :education, collection: UserProfile::EDUCATION, prompt: 'Choose Education', include_blank: true
        = up.input :religion, collection: UserProfile::RELIGIONS, prompt: 'Choose Religion', include_blank: true

  .row
    .span6.offset1
      %h3 Biography
      = f.simple_fields_for :user_profile do |up|
        = up.text_area :biography, :size => "200x5", class: 'span10'
  .row
    .span3.offset1
      = f.button :submit, class: 'btn btn-primary'

// Upload profile images.

.row
  .span11.offset1
    %h2 Manage Profile Photos
    = form_for [:admin, @user, Photo.new], html: {id: 'profile_upload'} do |p|
      %span.btn.btn-success.fileinput-button
        %i.icon-plus.icon-white
        %span Add Profile Photos
        %input{type: 'file', name: 'photos[photo_file]', multiple: 'multiple'}
.row
  .span11.offset1
    #photos
      %ul.thumbnails
        = render @user.photos

%script{id: 'template-upload', type: 'text/x-tmpl'}
  .upload
    {%=o.name%}
    .progress
      .bar{style: 'width: 0%'}