= javascript_include_tag 'admin/user_profile'
= render 'admin/users/shared/masthead'
= simple_form_for admin_users_path, method: :get, html: {class: 'form form-search'} do |f|
  %input.input-medium.search-query{type: 'text', name: 'search'}
  %button.btn{type: 'submit'} Search
  = link_to 'Reset', admin_users_path, class: 'btn'
  .pull-right
    = link_to 'Create User', '#', class: 'btn btn-primary'
%table.table.table-bordered.table-striped.table-highlight
  %thead
    %tr
      %th Name
      %th E-Mail
      %th Gender
      %th Birthday
      %th Age
      %th Status
      %th Functions
  %tbody
    - @users.each do |u|
      %tr
        %td= u.full_name
        %td
          =link_to u.email, '#'
        %td= t(u.user_profile.gender) rescue 'N/A'
        %td= l(u.user_profile.birthday) rescue 'N/A'
        %td= u.user_profile.age
        %td
          %span.label{class: "#{u.current_state.downcase}"}= u.current_state.capitalize
        %td
          - if u.suspended_at
            = link_to 'Restore', restore_admin_user_path(u.id), class: 'btn btn-small btn-success'
          - else
            = link_to 'Edit', edit_admin_user_path(u), class: 'btn btn-small btn-secondary'
            = link_to 'Delete', disable_admin_user_path(u), class: 'btn btn-small btn-danger msgbox-confirm',
              confirm: "Delete #{u.full_name}?"
            /= link_to 'Switch', "/switch_user?scope_identifier?user_#{u.id}", class: 'btn btn-small btn-tertiary'
            = link_to 'Orders', admin_user_orders_path(u), class: 'btn btn-small btn-primary'

= paginate @users, window: 2