= render 'admin/users/shared/masthead'
= link_to "#{User.deleted.count} Deleted Users", admin_users_path(deleted: 1), class: 'btn'
%br/
%br/
%table.table.table-bordered.table-striped.table-highlight
  %thead
    %tr
      %th Name
      %th E-Mail
      %th Gender
      %th Birthday
      %th Age
      %th Status
      %th Functions
  %tbody
    - @users.each do |u|
      %tr
        %td= u.full_name
        %td
          =link_to u.email, '#'
        %td= t(u.user_profile.gender)
        %td= l(u.user_profile.birthday)
        %td= u.user_profile.age
        %td= 'TODO'
        %td
          - if u.deleted_at
            = link_to 'Restore', restore_admin_user_path(u.id), class: 'btn btn-success'
          - else
            = link_to 'Edit', edit_admin_user_path(u), class: 'btn btn-secondary'
            = link_to 'Delete', disable_admin_user_path(u), class: 'btn btn-danger',
              confirm: "Delete #{u.full_name}?"
            /= link_to 'Switch', "/switch_user?scope_identifier?user_#{u.id}", class: 'btn btn-tertiary'
            = link_to 'Orders', '#', class: 'btn btn-primary'

= paginate @users, window: 2