- if @user.user_profile.errors.size > 0
  .span6.offset1
    %h4.red Errors
    %ul.error-list
      - @user.user_profile.errors.full_messages.each do |error|
        %li.error= error
= simple_form_for @user, url: lounge_profile_path(@user), html: {class: 'form-horizontal'} do |f|
  = f.simple_fields_for :user_profile do |up|
    .row
      .span5
        = up.input :gender, collection: GENDERS, prompt: 'Choose Gender', input_html: {tabindex: 11}
        = up.input :min_age, input_html: {tabindex: 13}
        = up.input :selected_birthday, as: :string, input_html: {value: (@user.user_profile.birthday.present? ? l(@user.user_profile.birthday) : ''),  tabindex: 15}, required: true
        = up.input :birthday, as: :hidden
        = up.input :ethnicity, collection: ETHNICITY, prompt: 'Choose Ethnicity', include_blank: true, input_html: {tabindex: 17}
        = up.input :education, collection: EDUCATION, prompt: 'Choose Education', include_blank: true, input_html: {tabindex: 19}
      .span5
        = up.input :seeking, collection: GENDERS, prompt: 'Choose Gender', input_html: {tabindex: 12}
        = up.input :max_age, input_html: {tabindex: 14}
        = up.input :occupation, input_html: {tabindex: 16}
        = up.input :religion, collection: RELIGIONS, prompt: 'Choose Religion', include_blank: true, input_html: {tabindex: 18}
        = up.input :search_radius, collection: DISTANCES, prompt: 'Choose Distance', input_html: {tabindex: 20}
        = up.input :distance_type, collection: DISTANCE_TYPES.map {|c| [c[:name], c[:value]]}, prompt: 'Choose Distance', input_html: {tabindex: 20}
    .row
      .span10
        = f.simple_fields_for :user_profile do |up|
          = up.input :biography, as: 'text',input_html: {class: 'span8', rows: '6', tabindex: 21}
    .row
      .span10
        %p.pull-right{style: 'padding-top: 10px'}
          /= link_to 'Next', next_wizard_path, class: 'btn btn-warning'
          = f.button :submit, class: 'btn btn-warning', value: 'Next'