= simple_form_for @user, url: update_account_lounge_profile_index_path, html: {class: 'form-horizontal'} do |f|
  = f.simple_fields_for :user_profile do |up|
    .row
      .span5
        = f.input :nickname, input_html: {class: 'input-large', disabled: 'disabled'}
        = up.input :first_name, input_html: {class: 'input-large', tabindex: 2}
        = up.input :address_city, input_html: {class: 'input-large', tabindex: 4}
        = up.input :address_zip, input_html: {class: 'input-large', tabindex: 6}
        = up.input :receive_emails, as: :boolean
      .span5
        = f.input :email, input_html: {class: 'input-large', tabindex: 1}
        = up.input :last_name, input_html: {class: 'input-large', tabindex: 3}
        = up.input :address_state, input_html: {class: 'input-large', tabindex: 5}
        = up.input :address_country, as: :select, collection: Carmen::Country.all.map {|c| [c.name, c.code]}, priority: ['United States'], input_html: {tabindex: 7}
        = up.input :timezone, collection: sorted_timezones, prompt: 'Choose Timezone', include_blank: true, input_html: {tabindex: 10}

    .row
      .span5.passwords{style: 'display: none'}
        = f.input :password, input_html: {tabindex: 8}
        = f.input :password_confirmation, input_html: {tabindex: 9}
      .span9.offset1
        = link_to 'Change Password', '', class: 'btn show-password'
        = link_to 'Cancel Account', disable_lounge_profile_index_path, class: 'btn btn-danger', confirm: "Are you sure you want to cancel your account?"
        = f.button :submit, class: 'btn btn-warning pull-right', value: 'Save Account Details'

