= simple_form_for @user, url: lounge_profile_path(@user) do |f|
  = f.simple_fields_for :user_profile do |up|

    .row
      .span9.offset1.border-bottom
        .test-group
          .control-group
            %p.pull-left.detail-class Your Likes
            .controls.span3
              = up.input :likes, collection: LIKES.values_at(* LIKES.each_index.select {|i| i.even?}), as: :check_boxes, label: false
            .controls.span3
              = up.input :likes, collection: LIKES.values_at(* LIKES.each_index.select {|i| i.odd?}), as: :check_boxes, label: false

    .row
      .span9.offset1.border-bottom
        .test-group
          .control-group
            %p.pull-left.detail-class Marital Status
            .controls.span3
              = up.input :marital_status, collection: show_odd_options(MARITAL_STATUS), as: :radio_buttons, label: false
            .controls.span3
              = up.input :marital_status, collection: show_even_options(MARITAL_STATUS), as: :radio_buttons, label: false

    .row
      .span9.offset1.border-bottom
        .test-group
          .control-group
            %p.pull-left.detail-class Outdoor Activities
            .controls.span3
              = up.input :outdoor_activities, collection: show_odd_options(OUTDOOR_ACTIVITIES), as: :check_boxes, label: false
            .controls.span3
              = up.input :outdoor_activities, collection: show_even_options(OUTDOOR_ACTIVITIES), as: :check_boxes, label: false

    .row
      .span9.offset1.border-bottom
        .test-group
          .control-group
            %p.pull-left.detail-class Health & Fitness
            .controls.span3
              = up.input :health_fitness, collection: show_odd_options(HEALTH_FITNESS), as: :radio_buttons, label: false
            .controls.span3
              = up.input :health_fitness, collection: show_even_options(HEALTH_FITNESS), as: :radio_buttons, label: false

    .row
      .span9.offset1.border-bottom
        .test-group
          .control-group
            %p.pull-left.detail-class Children
            .controls.span3
              = up.input :children, collection: show_odd_options(CHILDREN), as: :radio_buttons, label: false
            .controls.span3
              = up.input :children, collection: show_even_options(CHILDREN), as: :radio_buttons, label: false

    .row
      .span9.offset1.border-bottom
        .test-group
          .control-group
            %p.pull-left.detail-class Drinking
            .controls.span3
              = up.input :drinking, collection: show_odd_options(DRINKING), as: :radio_buttons, label: false
            .controls.span3
              = up.input :drinking, collection: show_even_options(DRINKING), as: :radio_buttons, label: false

    .row
      .span9.offset1.border-bottom
        .test-group
          .control-group
            %p.pull-left.detail-class Smoking
            .controls.span3
              = up.input :smoking, collection: show_odd_options(SMOKING), as: :radio_buttons, label: false
            .controls.span3
              = up.input :smoking, collection: show_even_options(SMOKING), as: :radio_buttons, label: false

    .row
      .span9.offset1.border-bottom
        .test-group
          .control-group
            %p.pull-left.detail-class Food
            .controls.span3
              = up.input :eating, collection: show_odd_options(EATING), as: :radio_buttons, label: false
            .controls.span3
              = up.input :eating, collection: show_even_options(EATING), as: :radio_buttons, label: false


    .row
      .span9.offset1.border-bottom
        .test-group
          .control-group
            %p.pull-left.detail-class Politics
            .controls.span3
              = up.input :politics, collection: show_odd_options(POLITICS), as: :radio_buttons, label: false
            .controls.span3
              = up.input :politics, collection: show_even_options(POLITICS), as: :radio_buttons, label: false

    .row
      .span9.offset1.border-bottom
        .test-group
          .control-group
            %p.pull-left.detail-class Books & Reading
            .controls.span3
              = up.input :reading, collection: show_odd_options(BOOKS_READING), as: :radio_buttons, label: false
            .controls.span3
              = up.input :reading, collection: show_even_options(BOOKS_READING), as: :radio_buttons, label: false

    .row
      .span9.offset1.border-bottom
        .test-group
          .control-group
            %p.pull-left.detail-class Nightlife
            .controls.span3
              = up.input :nightlife, collection: show_odd_options(NIGHTLIFE), as: :check_boxes, label: false
            .controls.span3
              = up.input :nightlife, collection: show_even_options(NIGHTLIFE), as: :check_boxes, label: false

    .row
      .span9.offset1.border-bottom
        .test-group
          .control-group
            %p.pull-left.detail-class Travel
            .controls.span3
              = up.input :travel, collection: show_odd_options(TRAVEL), as: :radio_buttons, label: false
            .controls.span3
              = up.input :travel, collection: show_even_options(TRAVEL), as: :radio_buttons, label: false

    .row
      .span9.offset1.border-bottom
        .test-group
          .control-group
            %p.pull-left.detail-class Career
            .controls.span3
              = up.input :career, collection: show_odd_options(CAREER), as: :radio_buttons, label: false
            .controls.span3
              = up.input :career, collection: show_even_options(CAREER), as: :radio_buttons, label: false

    .row
      .span10
        %p.pull-right{style: 'padding-top: 10px'}
          = link_to 'Back', modify_lounge_profile_index_path, class: 'btn btn-info'
          = f.submit :submit, value: 'Next', class: 'btn btn-warning'
