= stylesheet_link_tag 'lounge', 'lounge/profile'
= render 'lounge/shared/messages'
-# - if @user.errors
-#   - @user.errors.full_messages.each do |error|
-#     %p{style: 'font-size: 15px'}= error
-# - if @user.user_profile.errors
-#   .span6
-#     %ul.error-list
-#       - @user.user_profile.errors.full_messages.each do |error|
-#         %li.error= error
.row
  .span11
    %p.completion Profile Completion Percentage (#{current_user.user_profile.percent_complete}%)
    .progress.progress-warning.progress-striped
      .profile-progress.bar{style: "width: #{current_user.user_profile.percent_complete}%"}

.row
  .span11
    %ul#myTab.nav.nav-tabs
      %li
        %a{href: '#profile-details', 'data-toggle' => 'tab'} Details About You
      %li
        %a{href: '#photos', 'data-toggle' => 'tab'} Profile Photos
      %li
        %a{href: '#account', 'data-toggle' => 'tab'} My Account

    .tab-content.details
      #profile-details.tab-pane
        = render 'base_details'
      #photos.tab-pane
        = render 'photo_upload'
      #account.tab-pane
        = render 'myaccount' 