= stylesheet_link_tag 'lounge', 'lounge/profile'
= render 'lounge/shared/messages'

.row
  .span11
    %p.completion Profile Completion Percentage (#{current_user.user_profile.percent_complete}%)
    .progress.progress-warning.progress-striped
      .profile-progress.bar{style: "width: #{current_user.user_profile.percent_complete}%"}

.row
  .span11
    = simple_form_for @profile, :url => update_match_criteria_lounge_profile_index_path, html: { class: 'form form-horizontal' } do |f|
      = f.input :gender, collection: GENDERS, prompt: 'Choose Gender'
      = f.input :seeking, collection: GENDERS, prompt: 'Choose Gender'
      = f.input :min_age, input_html: {tabindex: 13}
      = f.input :max_age, input_html: {tabindex: 13}
      %h5 You will be matched on these selections (the more you select the better chance you have of finding a match)
      - LIKES.each_slice(2) do |first_like, second_like|
        .controls.controls-row
          %label.checkbox.span3
            = check_box_tag 'likes[]', first_like
            = first_like
          %label.checkbox.span3
            = check_box_tag 'likes[]', second_like
            = second_like
      %br/
      .control-group
        %label.control-label{for: 'search_radius'} Search radius in miles
        .controls
          = f.text_field :search_radius

      %br/
      = f.submit 'Next', class: 'btn btn-purple'