= stylesheet_link_tag 'lounge','lounge/profile'

- unless @user.blank?
  #messageModal.modal.hide.fade{role: 'dialog', tabindex: -1, 'aria-labelledby' => 'messageLabel', 'aria-hidden' => true}
    .modal-header
      %button{type: 'button', class: 'close', 'data-dismiss' => 'modal', 'aria-hidden' => true} x
      %h3 Send a message to #{@user.nickname}
    .modal-body
      = simple_form_for [:lounge, @message], url: ping_lounge_messages_path, html: {class: 'form-vertical'}, remote: true do |f|
        = f.input :subject, input_html: {value: (@message.subject rescue '')}
        = f.input :body, as: :text, label: false, input_html: {style: 'width: 80%', rows: 5}
        = f.input :to, as: :hidden, input_html: {value: @user.id}
        = f.submit :submit, value: 'Send', class: 'btn btn-purple'
        %button.btn.btn-warning{'data-dismiss' => 'modal', 'aria-hidden' => true} Cancel

= render 'lounge/shared/messages'
- if @user.blank?
  .row
    .span10
      %h2 Sorry no user profile found.
- else
  .row
    .span10
      %h4.big-shadow Meet #{@user.nickname}
  .row.profile-data
    .span2
      - if @user.random_profile_image.nil?
        = link_to '/assets/lounge/default-avatar.jpg', class: 'thumbnail profile-image' do
          %img{src: '/assets/lounge/default-avatar.jpg', width: '130px', height: '109px'}
      - else
        = link_to "#{@random_image.url}", class: 'thumbnail profile-image' do
          %img{src: "#{@random_image.thumb.url}"}
      .message-link
        .message 
          = link_to '#messageModal', class: 'btn btn-purple', 'data-toggle' => 'modal', role: 'button' do
            %i.icon-envelope.icon-white
            = " Message "
    
      .more-details
        - if @user.user_profile.address_country.present?
          .info
            %span.bold Country:
            %span.answer #{@user.user_profile.address_country}
        - if @user.user_profile.ethnicity.present?
          .info
            %span.bold Ethnicity:
            %span.answer #{@user.user_profile.ethnicity}
        - if @user.user_profile.education.present?
          .info
            %span.bold Education:
            %span.answer #{@user.user_profile.education}
        - if @user.user_profile.address_state.present?
          .info
            %span.bold State:
            %span.answer #{@user.user_profile.address_state}
        - if @user.user_profile.occupation.present?
          .info
            %span.bold Occupation:
            %span.answer #{@user.user_profile.occupation}
        - if @user.user_profile.religion.present?
          .info
            %span.bold Religion:
            %span.answer #{@user.user_profile.religion}

    .span2
      .info
        %span.bold.base-details
          #{@user.user_profile.age} / 
          #{@user.user_profile.gender}
        .like-list
          I Like 
          #{@user.user_profile.likes.join(', ')}

    .span8
      .row.profile-data
        .span4
          .bold Marital Status: 
          .answer #{marital_status(@user.user_profile)}
          .bold Children: 
          .answer #{children(@user.user_profile)}
          .bold Smoking: 
          .answer #{smoking(@user.user_profile)}
          .bold Politics: 
          .answer #{politics(@user.user_profile)}
          .bold Nightlife:
          .answer
            - if nightlife(@user.user_profile).size > 0
              %ul
                - nightlife(@user.user_profile).each do |a|
                  %li #{a}
            - else
              I would rather not say.
          .bold Travel: 
          .answer #{travel(@user.user_profile)} 
        .span4
          .bold Health & Fitness: 
          .answer #{fitness_status(@user.user_profile)}
          .bold Outdoor Acitivies: 
          .answer
            - if outdoor_activities(@user.user_profile).size > 0
              %ul
                - outdoor_activities(@user.user_profile).each do |a|
                  %li #{a}
            - else
              I would rather not say.
          .bold Drinking: 
          .answer #{drinking(@user.user_profile)}
          .bold Eating: 
          .answer #{eating(@user.user_profile)}
          .bold Reading: 
          .answer #{reading(@user.user_profile)}
          .bold Career: 
          .answer #{career(@user.user_profile)}
      - if @user.user_profile.biography.present?
        %h5.underline Biography
        .biography #{simple_format(@user.user_profile.biography)}
  - if @user.photos.size > 0
    .row
      .span12
        %h5.underline Photos
        #photos
          %ul.thumbnails
            - @user.photos.each do |photo|
              %li.span2{'class' => photo.id}
                = link_to image_tag(photo.photo_file.thumb.url, class: 'img-polaroid'), photo.photo_file.url, class: 'profile-image', 'data-profile' => photo.user.nickname
