<!doctype html>
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/ [if gt IE 8]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %title Dashboard Admin
    %meta{:charset => "utf-8"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,600,800", :rel => "stylesheet"}/
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'libs/modernizr-2.5.3.min.js'
  %body
    #wrapper
      #topbar
        .container
          %a#menu-trigger{:href => "javascript:;"}
            %i.icon-cog
          #top-nav
            %ul
              %li.dropdown
                = link_to 'View Site', 'http://2date4love.com', :target => '_blank'
            %ul.pull-right
              %li
                %a{:href => "javascript:;"}
                  %i.icon-user
                  Logged in as
                  = current_user.full_name.blank? ? current_user.email : current_user.full_name
              %li
                %a{:href => "javascript:;"}
                  %span.badge.badge-primary 1
                  New Message
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "./pages/settings.html"}
                  Settings
                  %b.caret
                %ul.dropdown-menu.pull-right
                  %li
                    %a{:href => "javascript:;"} Settings #1
                  %li
                    %a{:href => "javascript:;"} Settings #2
                  %li.dropdown-submenu
                    %a{:href => "#", :tabindex => "-1"} Dropdown menu
                    %ul.dropdown-menu
                      %li
                        %a{:href => "#", :tabindex => "-1"} Second level link
                      %li
                        %a{:href => "#", :tabindex => "-1"} Second level link
                      %li
                        %a{:href => "#", :tabindex => "-1"} Second level link
              %li
                = link_to 'Logout', destroy_user_session_path, :method => :delete
          / /#top-nav
        / /.container
      / /#topbar
      #header
        .container
          = link_to 'Dashboard', root_path, :class => 'brand'
          %a.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :href => "javascript:;"}
            %i.icon-reorder
          .nav-collapse
            %ul#main-nav.nav.pull-right
              %li.nav-icon.active
                = link_to root_path do
                  %i.icon-home
                  %span Home
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "javascript:;"}
                  %i.icon-th
                  %span Navigation
                  %b.caret
                %ul.dropdown-menu
                  %li.dropdown-submenu
                    = link_to 'Users', admin_users_path
                    %ul.dropdown-menu
                      %li
                        = link_to 'Active Users', admin_users_path
                      %li
                        = link_to 'Deleted Users', admin_users_path(deleted: 1)
              
          / /.nav-collapse
        / /.container
      / /#header
      #masthead
        .container
          .masthead-pad
            .masthead-text
              = yield :masthead
            / /.masthead-text
        / /.container
      / /#masthead
      #content
        .container
          - if !flash[:alert].blank?
            .alert= flash[:alert]
          - if !flash[:notice].blank?
            .alert.alert-info= flash[:notice]
          - if !flash[:error].blank?
            .alert.alert-error= flash[:error]
          = yield
          
    #footer
      .container
        .row
          .span6
            © 
            = Date.today.year
            = succeed ", " do
              %a{:href => "#"} New Expectations Dating Inc.
            all rights reserved.
          / /span6
          #builtby.span6

          / /.span6
        / /row
      / /container
    / /#footer
    = javascript_include_tag 'application'
    = javascript_include_tag 'admin/users'
    :javascript
      $(function () {
      	
      	Theme.init ();
      	
      });
      
